<ul>
  {{#each articles}}
    <li>{{this.title}}
      <ul>
        <li>{{this.interviewee}}</li>
        <li>{{this.dateReleased}}</li>
        <li>{{this.URL}}</li>
      </ul>
    </li>
  {{/each}}
</ul>